body{
  background-image: url(/Unit_7-1/Images/7-1bg.png);
    /*this height allows us to see the full background picture vertically*/
  height: 2875px;
  /*this width prevents the images from wrapping*/
  width: 1600px;
  background-repeat: no-repeat;
  background-position: 200px 0;
  
}
img{
  /*these properties together allow inline elements on the same row to have independent top and bottom margins/padding*/
  display:inline-block;
  vertical-align: top;
}

/*
Add your CSS to the ID selectors below
*/

#ball{
  padding-top: 2px;
  margin-left: 133px;
}

#turnip{
  padding-top: 162px;
  margin-left: 489px;
}

#grass{
  padding-top: 162px;
  margin-left: 47px;
}

#L{
  padding-top: 1294px;
  margin-left: 291px;
}

#T{
  padding-top: 1394px;
  margin-left: 96px; 
}

#I{
  padding-top: 1294px;
  margin-left: 295px; 
}

p {
  text-align: left;
}